@import '../../styles/variables.scss';
.phoneNumbers {
  border-collapse: collapse;
  @media (max-width: 576px) {
    width: 100%;
  }
  @media (min-width: 576px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 80%;
  }
  @media (min-width: 992px) {
    width: 60%;
  }
  @media (min-width: 1200px) {
    width: 40%;
  }
  tr {
    td, th {
      border: 1px solid rgba(255, 255, 255, 0.1);
      text-align: center;
    }
  }
  tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0.1);
  }
}
